.pink-signin-btn {
  background-color: rgb(235,89,82);
  border-color: rgb(235,89,82);
  color: white;
}

.pink-signin-btn:hover {
  background-color: rgb(213,44,35);
  border-color: rgb(213,44,35);
  color: white;
}

.right-margin-btn {
  margin-right: 20px;
}

.left-margin-btn {
  margin-left: 10px;
}

.individual-snippet {
  background-color: rgb(230,230,230);
  border-width: thick;
  border:5px solid white;
}

.code-input-box {
  font-family: monospace;
}

.footer {
  font-size: 0.75em;
}

/*////////// NAVBAR //////////*/
/*
.navbar-custom {
  background-color: rgb(170,219,152);
  border-color: #E7E7E7;
} */

/*////////// BUTTONS //////////*/
