<div class="jumbotron">
  <h1>Welcome to Snippet Manager</h1>
  <p>Snippet Manager stores your code snippets so you can easily refer to them later.</p>
  <p>It also houses a library of shared snippets that you might find useful for your own projects.</p>

  <% if !logged_in? %>
    <a class="right-margin-btn btn btn-primary btn-lg" href="/login">Sign In</a>
    <a class="pink-signin-btn btn btn-primary btn-lg" href="/signup">Sign Up</a>
  <% end %>

</div>
