<h2>Labels</h2>
<a href="/snippet-library">all</a><br>
<% if @user %>
  <% @labels.each do |label| %>
      <a href="/labels/user/<%= label.id %>"><%= "#{label.name} " %></a><br>
  <% end %>
<% else %>
  <% @labels.each do |label| %>
      <a href="/labels/<%= label.id %>"><%= "#{label.name} " %></a><br>
  <% end %>
<% end %>
