<!DOCTYPE html>
<html>
  <head>
    <title>Snippet Manager</title>
  </head>
  <h3>Snippet Manager</h3>
  <body>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
    <br>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
  </body>
</html>
