<!DOCTYPE html>
<html>
  <head>
    <title>Snippet Manager</title>
  </head>
  <h3>Snippet Manager</h3>
  <body>
    <%= yield %>
    <br>
    <!-- <a href="/tweets">Home</a>
    <a href="/tweets/new">New Tweet</a>
    <a href="/logout">Log Out</a> -->
  </body>
</html>
