<!DOCTYPE html>
<html>
  <head>
    <title>Snippet Manager</title>
  </head>
  <h3>Snippet Manager</h3>
  <body>
    <%= yield %>
    <br>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
  </body>
</html>
